.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 320px;
    padding: 50px 0;
}

/* All other elements hidden */
.language-mobile, .logo-mobile, .logo-desktop, .login-box, .footer-mobile, .language-desktop, .footer-desktop {
    display: none;
}